*{
    color: black;
}

#container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: white;
    background-image: url('/assets/img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

#box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: end; /* Aligns the tasks to the right */
    gap: 10px;
    padding: 20px;
}


form{
    border-radius: 3px;
    padding: 70px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    gap: 40px;
    background-color: white;
    box-shadow: 15px 15px 40px rgba(255, 255, 255, 0.2);
    border-radius: 12px;
}

form input{
    width: 70%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.300);
}

form button{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

button{
    border: none;
    padding: 15px;
    margin: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 150px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    transition: background-color 0.4s ease-in-out;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

button:hover{
    background-color: rgb(50, 50, 50);
    color: white;
}


.contains{
    margin: 30px;
    width: 70%;
    height: 60%;
    border-radius: 5px;  
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.contains button {
    outline: none;
    border: none;
    padding: 15px;
    color: black;
    background-color: white;
    margin-top: 50px;
    cursor: pointer;
    width: 60%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.contains button:hover{
    background-color: rgb(50, 50, 50);
    color: white;
}

#box {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 1px;
    justify-content: center;
}

input{
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 300px;
    background-color: rgb(50,50,50);
}

input::placeholder{
    color: white;
    letter-spacing: 2px;
}

#desc{
    padding: 40px;
    width: 100%;
}

#tas::placeholder{
    text-indent: 20px;
}